<div class="row">
    <h1> Hard and Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
       <circle-progress
          [percent]="85"
          [radius]="85"
          [showUnits]="false"
          [title]="'HTML'"
          [titleColor]=" 'green' "
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="6"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [lazy]="false"
       ></circle-progress>  
    </div> 
</div>